* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.logo img {
  display: flex;
  height: 3rem;
  max-width: 80%;
  object-fit: contain;
  justify-content: center;
}

nav {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  place-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar:hover {
  background-color: transparent;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin: 0 1rem;
}

a {
  color: black;
}

section {
  width: 100%;
  padding-top: 5rem;
  background-color: rgb(231, 233, 255);
}

.hero {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero div {
  padding: 0 5rem;
}

.text h1 {
  font-size: 3rem;
}

.text p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.text form input,
button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

form input {
  width: 80%;
}

form button {
  background-color: black;
  color: white;
}

.about {
  background-color: white;
  text-align: center;
  padding: 14rem;
}

.about img,
h1,
p {
  padding: 1rem 0;
}

.about p {
  font-size: 1.5rem;
}

.about h3 {
  color: rgb(4, 72, 190);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 0 3rem 0;
}

.contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.contact input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
}

.contact form label {
  text-align: left;
  padding: 1rem 0;
}

.contact button {
  margin: 2rem 0;
}

@media only screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
  }
}
